<!-- <nav id="navbar" class="bg-navbar_background drop-shadow-lg z-50">
  <div class="mx-auto container grid grid-flow-col py-2">
    <div class="col-span-1 flex sm:justify-end md:justify-end items-center justify-start ml-3 ">
      <img id="logo" class="w-24 h-20 md:w-28 md:h-24" src="../../assets/imagenes/Logo.png" alt="Happy Paws"/>
    </div>
    <div class="col-span-4 flex items-center justify-end sm:text-base sm:gap-x-3 md:text-lg md:gap-x-5 lg:text-xl xl:gap-x-8 xl:text-2xl 2xl:text-4xl max-sm:hidden">
          <a href="http://" class="">Quienes somos</a>
          <a href="http://" class="">Especialidades</a>
          <a href="http://" class="">Reseñas</a>
          <a href="http://" class="">Contacto</a>
        <button class="bg-button rounded-lg px-5 py-2 font-semibold hover:bg-button_nigga">
          <a href="http://" class="text-center text-white">Sign Up</a>
        </button> -->

        <!-- <button id="mega-menu-full-cta-button" data-collapse-toggle="mega-menu-full-cta" type="button"  class="ml-1 items-start rounded-lg p-2 text-sm sm:hidden" [ngClass]="{'open': open}" (click)="open = !open" aria-controls="mega-menu-full-cta" aria-expanded="false">
          <span class="sr-only">Open main menu</span> -->
<!--
           <nav class="flex flex-col">
            <a class="block py-2 px-3 text-base font-medium text-indigo-500 hover:text-indigo-800" href="#">Quienes somos</a>
            <a class="block py-2 px-3 text-base font-medium text-indigo-500 hover:text-indigo-800" href="#">Especialidades</a>
            <a class="block py-2 px-3 text-base font-medium text-indigo-500 hover:text-indigo-800" href="#">Reseñas</a>
            <a class="block py-2 px-3 text-base font-medium text-indigo-500 hover:text-indigo-800" href="#">Contacto</a>
            <button class="bg-button rounded-lg ml-3 px-5 py-2 font-semibold">
              <a href="http://" class="text-center text-white">Sign Up</a>
            </button>
          </nav>  -->
<!--
           <svg *ngIf="!open" class="h-9 w-9" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
         <svg *ngIf="open" class="h-9 w-9" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M11.414 10l4.293-4.293a1 1 0 0 0-1.414-1.414L10 8.586 5.707 4.293a1 1 0 0 0-1.414 1.414L8.586 10l-4.293 4.293a1 1 0 0 0 1.414 1.414L10 11.414l4.293 4.293a1 1 0 0 0 1.414-1.414L11.414 10z"/></svg>
        </button>
    </div>
  </div>
</nav> -->


<nav id="navbar" class="bg-navbar_background drop-shadow-lg z-50">
    <div class="mx-auto container grid grid-flow-col py-2">
      <div class="col-span-1 flex sm:justify-start md:justify-start items-center justify-start ml-3 ">
        <img id="logo" class="w-24 h-20 md:w-28 md:h-24" src="../../assets/imagenes/Logo.png" alt="Happy Paws"/>
      </div>
      <div class="col-span-4 flex items-center justify-end sm:text-base sm:gap-x-3 md:text-lg md:gap-x-5 lg:text-xl xl:gap-x-8 xl:text-2xl 2xl:text-4xl max-sm:hidden">
            <a routerLinkActive="active" routerLink="/"  class="cursor-pointer">Quienes somos</a>
            <a (click)="this.scrollToElement('link-especialidades')" class="cursor-pointer">Especialidades</a>
            <a (click)="this.scrollToElement('link-Reseñas')"  class="cursor-pointer">Reseñas</a>
            <a (click)="this.scrollToElement('link-Contacto')" class="cursor-pointer">Contacto</a>
            
          <div *ngIf="signedIn; then thenBlock; else elseBlock"></div>
          <ng-template #thenBlock>
            <app-logout></app-logout>
          </ng-template>
          <ng-template #elseBlock>
              <button class="bg-button rounded-lg px-5 py-2 font-semibold hover:bg-button_nigga">
                <a routerLinkActive="active" routerLink="/login" class="cursor-pointer  text-center text-white">Login</a>
              </button>
          </ng-template>
      </div>
    </div>
  </nav>
  